.fi-button:not([hidden]) {
	display: inline-block;
}

.fi-button {
	min-width: var(--_fiori_button_base_min_width);
	height: var(--_fiori_button_base_height);
	font-family: var(--_fiori_button_base_font_family);
	font-size: var(--_fiori_button_base_font_size);
	text-shadow: var(--_fiori_button_base_text_shadow);
	border-radius: var(--_fiori_button_base_border_radius);
	border-width: var(--_fiori_button_base_border_width);
	cursor: pointer;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 var(--_fiori_button_base_padding);
	position: relative;
	outline: var(--_fiori_button_base_outline);
	outline-offset: var(--_fiori_button_base_outline_offset);
}



.fi-button[disabled] {
	pointer-events: none;
	opacity: 0.5;
	pointer-events: none;
}

.fi-button:active:not([disabled]) {
	background-image: none;
	color: #fff;
}

.fi-button-default {
	background-color: #fff;
	border: 1px solid var(--_fiori_button_default_border_color);
	color: var(--_fiori_button_default_text_color);
}

.fi-button-default:not([active]):hover {
	background: var(--_fiori_button_default_hover_background_color);
}

.fi-button-default[focused] {
	color: var(--_fiori_button_default_focused_text_color);
	outline-color: var(--_fiori_button_default_focused_outline_color);
}
.fi-button-default:active {
	color: var(--_fiori_button_default_active_text_color);
	outline-color: var(--_fiori_button_default_active_outline_color);
	background-color: var(--_fiori_button_default_active_background_color);
	text-shadow: none;
}



/* .fi-button-primary {
	background-color: var(--_fiori_button_primary_background_color);
	border: var(--_fiori_button_border_width) solid var(--_fiori_button_primary_border_color);
	color: var(--_fiori_button_primary_text_color);
} */

