:root {
  --_fiori_button_minWidth: 2.5rem;
  --_fiori_button_height: 2.5rem;
  --_fiori_button_fontFamily: var(--_Fiori_FontFamily);
  --_fiori_button_fontSize: var(--_Fiori_FontSize);
  --_fiori_button_textShadow: var(--_Fiori_Content_TextShadow);
  --_fiori_button_borderRadius: 0.2rem;
  --_fiori_button_borderWidth: 0.0625rem;
  --_fiori_button_borderColor: var(--_Fiori_Primary_HighlightSelectedIcons_Color);
  --_fiori_button_textColor: var(--_Fiori_Primary_HighlightSelectedIcons_Color);
  /* --sapButton_BorderWidth: .0625rem;
  --sapButton_BorderCornerRadius: .25rem;
  --sapButton_Background: #e29d12;
  --sapButton_BorderColor: #0854a0;
  --sapButton_TextColor: #fff;
  --sapButton_Hover_Background: #ebf5fe;
  --sapButton_Hover_BorderColor: #0854a0;
  --sapButton_Hover_TextColor: #0854a0;
  --sapButton_IconColor: #fff;
  --sapButton_Active_Background: #0854a0;
  --sapButton_Active_BorderColor: #0854a0;
  --sapButton_Active_TextColor: #fff;
  --sapButton_Emphasized_Background: #0a6ed1;
  --sapButton_Emphasized_BorderColor: #0a6ed1;
  --sapButton_Emphasized_TextColor: #fff;
  --sapButton_Emphasized_Hover_Background: #085caf;
  --sapButton_Emphasized_Hover_BorderColor: #085caf;
  --sapButton_Emphasized_Hover_TextColor: #fff;
  --sapButton_Emphasized_Active_Background: #0854a0;
  --sapButton_Emphasized_Active_BorderColor: #0854a0;
  --sapButton_Emphasized_TextShadow: transparent;
  --sapButton_Accept_Background: #e29d12;
  --sapButton_Accept_BorderColor: #7df7b0;
  --sapButton_Accept_Hover_Background: #fff;
  --sapButton_Accept_Hover_BorderColor: #7df7b0;
  --sapButton_Accept_Hover_TextColor: #7df7b0;
  --sapButton_Accept_Active_Background: #65f6a1;
  --sapButton_Accept_Active_BorderColor: #65f6a1;
  --sapButton_Accept_TextColor: #fff;
  --sapButton_Accept_Selected_Background: #65f6a1;
  --sapButton_Accept_Selected_BorderColor: #65f6a1;
  --sapButton_Accept_Selected_TextColor: #2d8ae6;
  --sapButton_Accept_Selected_Hover_Background: #7df7b0;
  --sapButton_Accept_Selected_Hover_BorderColor: #7df7b0;
  --sapButton_Reject_Background: #e29d12;
  --sapButton_Reject_BorderColor: #fcd578;
  --sapButton_Reject_Hover_Background: #fff;
  --sapButton_Reject_Hover_BorderColor: #fcd578;
  --sapButton_Reject_Hover_TextColor: #fcd578;
  --sapButton_Reject_Active_Background: #fbcd5f;
  --sapButton_Reject_Active_BorderColor: #fbcd5f;
  --sapButton_Reject_TextColor: #fff;
  --sapButton_Reject_Selected_Background: #fbcd5f;
  --sapButton_Reject_Selected_BorderColor: #fbcd5f;
  --sapButton_Reject_Selected_TextColor: #2d8ae6;
  --sapButton_Reject_Selected_Hover_Background: #fcd578;
  --sapButton_Reject_Selected_Hover_BorderColor: #fcd578;
  --sapButton_Lite_Background: transparent;
  --sapButton_Lite_BorderColor: transparent;
  --sapButton_Lite_TextColor: #fff;
  --sapButton_Lite_Hover_Background: #ebf5fe;
  --sapButton_Lite_Hover_BorderColor: #0854a0;
  --sapButton_Lite_Hover_TextColor: #fff;
  --sapButton_Lite_Active_Background: #0854a0;
  --sapButton_Lite_Active_BorderColor: #0854a0;
  --sapButton_Selected_Background: #0854a0;
  --sapButton_Selected_BorderColor: #0854a0;
  --sapButton_Selected_TextColor: #fff;
  --sapButton_Selected_Hover_Background: #095caf;
  --sapButton_Selected_Hover_BorderColor: #095caf;
  --sapButton_Attention_Background: #e29d12;
  --sapButton_Attention_BorderColor: #da0ce9;
  --sapButton_Attention_TextColor: #fff;
  --sapButton_Attention_Hover_Background: #fdf1fe;
  --sapButton_Attention_Hover_BorderColor: #da0ce9;
  --sapButton_Attention_Hover_TextColor: #da0ce9;
  --sapButton_Attention_Active_Background: #c30bd1;
  --sapButton_Attention_Active_BorderColor: #c30bd1;
  --sapButton_Attention_Selected_Background: #c30bd1;
  --sapButton_Attention_Selected_BorderColor: #c30bd1;
  --sapButton_Attention_Selected_TextColor: #fff;
  --sapButton_Attention_Selected_Hover_Background: #da0ce9;
  --sapButton_Attention_Selected_Hover_BorderColor: #da0ce9;
  --sapButton_Negative_Background: #fcd578;
  --sapButton_Negative_BorderColor: #fcd578;
  --sapButton_Negative_TextColor: #2d8ae6;
  --sapButton_Negative_Hover_Background: #fbca55;
  --sapButton_Negative_Hover_BorderColor: #fbca55;
  --sapButton_Negative_Hover_TextColor: #2d8ae6;
  --sapButton_Negative_Active_Background: #fbc546;
  --sapButton_Negative_Active_BorderColor: #fbc546;
  --sapButton_Critical_Background: #da0ce9;
  --sapButton_Critical_BorderColor: #da0ce9;
  --sapButton_Critical_TextColor: #fff;
  --sapButton_Critical_Hover_Background: #ba0ac7;
  --sapButton_Critical_Hover_BorderColor: #ba0ac7;
  --sapButton_Critical_Hover_TextColor: #fff;
  --sapButton_Critical_Active_Background: #ad0ab8;
  --sapButton_Critical_Active_BorderColor: #ad0ab8;
  --sapButton_Success_Background: #7df7b0;
  --sapButton_Success_BorderColor: #7df7b0;
  --sapButton_Success_TextColor: #2d8ae6;
  --sapButton_Success_Hover_Background: #5bf59c;
  --sapButton_Success_Hover_BorderColor: #5bf59c;
  --sapButton_Success_Hover_TextColor: #2d8ae6;
  --sapButton_Success_Active_Background: #4df493;
  --sapButton_Success_Active_BorderColor: #4df493;
  --sapButton_Neutral_Background: #6a6d70;
  --sapButton_Neutral_BorderColor: #6a6d70;
  --sapButton_Neutral_TextColor: #fff;
  --sapButton_Neutral_Hover_Background: #595b5e;
  --sapButton_Neutral_Hover_BorderColor: #595b5e;
  --sapButton_Neutral_Hover_TextColor: #fff;
  --sapButton_Neutral_Active_Background: #515456;
  --sapButton_Neutral_Active_BorderColor: #515456;
  --sapButton_Track_Selected_Background: #ebf5fe;
  --sapButton_Track_Selected_TextColor: #2d8ae6;
  --sapButton_Track_Background: #c1860f;
  --sapButton_Track_TextColor: #fff;
  --sapButton_TokenBackground: #d99611;
  --sapButton_TokenBorderColor: #714e09;

  --_ui5_button_base_min_width: 2.5rem;
	--_ui5_button_base_min_compact_width: 2rem;
	--_ui5_button_base_height: 2.5rem;
	--_ui5_button_compact_height: 1.625rem;
	--_ui5_button_border_radius: 0.2rem;
	--_ui5_button_base_padding: 0.6875rem;
	--_ui5_button_compact_padding: 0.4375rem;
	--_ui5_button_base_icon_only_padding: 0.5625rem;
	--_ui5_button_base_icon_margin: 0.563rem;
	--_ui5_button_icon_font_size: 1.375rem;
	--_ui5_button_outline: 1px dotted var(--sapContent_FocusColor);
	--_ui5_button_outline_offset: calc(-1 * .1875rem);
	--_ui5_button_emphasized_font_weight: normal;
	--_ui5_button_text_shadow: var(--sapContent_TextShadow);
	--_ui5_button_focus_offset: 1px;
	--_ui5_button_focus_width: 1px;
	--_ui5_button_focus_color: var(--sapContent_FocusColor);

	--_ui5_button_transparent_border_color: transparent;
	--_ui5_button_transparent_hover_border_color: var(--sapButton_BorderColor);
	--_ui5_button_active_border_color: var(--sapButton_Active_BorderColor);
	--_ui5_button_positive_border_color: var(--sapButton_Accept_BorderColor);
	--_ui5_button_positive_border_hover_color: var(--sapButton_Accept_Hover_BorderColor);
	--_ui5_button_positive_border_active_color: var(--sapButton_Accept_Active_BorderColor);
	--_ui5_button_positive_border_focus_hover_color: var(--sapContent_FocusColor);
	--_ui5_button_positive_focus_border_color: var(--sapButton_Accept_BorderColor);
	--_ui5_button_negative_focus_border_color: var(--sapButton_Reject_BorderColor);
	--_ui5_button_negative_active_border_color: var(--sapButton_Reject_Active_BorderColor);
	--_ui5_button_emphasized_focused_border_color: var(--sapButton_Emphasized_BorderColor); */
}