:root {
  --_Fiori_Font_Family: "72","72full",Arial,Helvetica,sans-serif;
  --_Fiori_Font_Size: .875rem;
  --_Fiori_Content_Text_Shadow: 0 0 0.125rem #fff;
  --_Fiori_Primary_Highlight_Selected_Icons_Color: #0854a0;
  --_Fiori_Primary_Brand_Link_Color: #0a6ed1;
}